body {
    background-color: coral;
}

#road {
    border-bottom: 7px dashed black;
}

#runner {
    background: url("./panda.png");
    width: 180px;
    height: 140px;
    animation: walk 1s steps(9) infinite, forward 5s linear infinite;
}

@keyframes walk {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: 1600px;
    }
}

@keyframes forward {
    0% {
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(1200px);
    }
}

h1 {
    text-align: center;
}